<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="container" style="max-width: 400px;">
      <h1 class="text-center mb-4">Forgot Password</h1>
  
      <form [formGroup]="ChangePassword" (ngSubmit)="onSubmit()">

        <!-- Email Input -->
        <div class="mb-3">
          <label for="Email" class="form-label">Email</label>
          <input id="Email" formControlName="Email" class="form-control" type="email" />
          <div
            *ngIf="ChangePassword.get('Email')?.invalid && ChangePassword.get('Email')?.touched"
            class="text-danger small"
          >
            Please provide a valid email
          </div>
        </div>

        <!-- Send OTP Button -->
        <button type="button" class="btn btn-secondary w-100 mb-3" (click)="sendOTP()">Send OTP</button>

        <!-- OTP -->
        <div class="mb-3">
          <label for="OTP" class="form-label">OTP</label>
          <input id="OTP" formControlName="OTP" class="form-control" type="number" />
          <div
            *ngIf="ChangePassword.get('OTP')?.invalid && ChangePassword.get('OTP')?.touched"
            class="text-danger small"
          >
            Please provide OTP
          </div>
        </div>
  
        <!-- Password and Confirm Password -->
        <div class="row mb-3">
          <div class="col-sm-6">
            <label for="Password" class="form-label">New Password</label>
            <input id="Password" formControlName="Password" class="form-control" type="password" />
            <div
              *ngIf="ChangePassword.get('Password')?.invalid && ChangePassword.get('Password')?.touched"
              class="text-danger small"
            >
              Please provide New Password
            </div>
          </div>
  
          <div class="col-sm-6">
            <label for="ConfirmPassword" class="form-label">Confirm Password</label>
            <input
              id="ConfirmPassword"
              formControlName="ConfirmPassword"
              class="form-control"
              type="password"
            />
            <div
              *ngIf="ChangePassword.get('ConfirmPassword')?.invalid && ChangePassword.get('ConfirmPassword')?.touched"
              class="text-danger small"
            >
              Password Mismatched
            </div>
          </div>
        </div>
  
        <!-- Submit Button -->
        <button type="submit" class="btn btn-primary w-100">Submit</button>
      </form>
      <div class="mt-2">
        <button class="btn btn-primary w-100" (click)="onLogin()">Back To Login</button>
      </div>
      <div class="auth-footer row">
        <div class="col my-1">
          <p class="m-0">
            Copyright ©
            <a href="https://codedthemes.com/" target="_blank">Jpayroll</a>
          </p>
        </div>
      </div>
    </div>
  </div>
  
  