<div class="container my-5">
    <h1 class="text-center mb-4">Change Password</h1>
  
    <form [formGroup]="ChangePassword" (ngSubmit)="onSubmit()">
  
        <div class="mb-3">
            <label for="OldPassword" class="form-label">Old Password</label>
            <input id="OldPassword" formControlName="OldPassword" class="form-control" type="password" />
            <div *ngIf="ChangePassword.get('OldPassword')?.invalid && ChangePassword.get('OldPassword')?.touched" class="text-danger small">
              Please provide Old Password
            </div>
        </div>
        <!-- Password -->
        <div class="row mb-3">
        <div class="col-sm-6">
            <label for="Password" class="form-label">New Password</label>
            <input id="Password" formControlName="Password" class="form-control" type="password" />
            <div *ngIf="ChangePassword.get('Password')?.invalid && ChangePassword.get('Password')?.touched" class="text-danger small">
            Please provide New Password
            </div>
        </div>

        <!-- Confirm Password -->
        <div class="col-sm-6">
            <label for="ConfirmPassword" class="form-label">Confirm Password</label>
            <input id="ConfirmPassword" formControlName="ConfirmPassword" class="form-control" type="password" />
            <div *ngIf="ChangePassword.get('ConfirmPassword')?.invalid && ChangePassword.get('ConfirmPassword')?.touched" class="text-danger small">
            Passwword Missmatched
            </div>
        </div>
        </div>
  
      <!-- Submit Button -->
      <button type="submit" class="btn btn-primary w-100">Submit</button>
    </form>
  </div>
  