<div class="container my-5">
    <h1 class="text-center mb-4">Change Password</h1>
  
    <form [formGroup]="ChangePassword" (ngSubmit)="onSubmit()">
  
        <div class="mb-3">
            <label for="OldPassword" class="form-label">Old Password</label>
            <div class="input-group">
              <input
                [type]="showOldPassword ? 'text' : 'password'"
                class="form-control"
                id="OldPassword"
                formControlName="OldPassword"
                [(ngModel)]="Oldpassword"
                placeholder="OldPassword"
              />
              <button
                class="btn btn-outline-secondary"
                type="button"
                (click)="toggleOldPasswordVisibility()"
              >
                <i [class]="showOldPassword ? 'bi bi-eye-slash' : 'bi bi-eye'"></i>
              </button>
            </div>
            <div *ngIf="ChangePassword.get('OldPassword')?.invalid && ChangePassword.get('OldPassword')?.touched" class="text-danger small">
              Please provide Old Password
            </div>
        </div>
        <!-- Password -->
        <div class="row mb-3">
        <div class="col-sm-6">
            <label for="Password" class="form-label">New Password</label>
            <div class="input-group">
              <input
                [type]="showNewPassword ? 'text' : 'password'"
                class="form-control"
                id="Password"
                formControlName="Password"
                [(ngModel)]="Newpassword"
                placeholder="New Password"
              />
              <button
                class="btn btn-outline-secondary"
                type="button"
                (click)="toggleNewPasswordVisibility()"
              >
                <i [class]="showNewPassword ? 'bi bi-eye-slash' : 'bi bi-eye'"></i>
              </button>
            </div>
            <div *ngIf="ChangePassword.get('Password')?.invalid && ChangePassword.get('Password')?.touched" class="text-danger small">
            Please provide New Password
            </div>
        </div>

        <!-- Confirm Password -->
        <div class="col-sm-6">
            <label for="ConfirmPassword" class="form-label">Confirm Password</label>
            <div class="input-group">
              <input
                [type]="showConfirmPassword ? 'text' : 'password'"
                class="form-control"
                id="ConfirmPassword"
                formControlName="ConfirmPassword"
                [(ngModel)]="Confirmpassword"
                placeholder="ConfirmPassword"
              />
              <button
                class="btn btn-outline-secondary"
                type="button"
                (click)="toggleConfirmPasswordVisibility()"
              >
                <i [class]="showConfirmPassword ? 'bi bi-eye-slash' : 'bi bi-eye'"></i>
              </button>
            </div>
            <div *ngIf="ChangePassword.get('ConfirmPassword')?.invalid && ChangePassword.get('ConfirmPassword')?.touched" class="text-danger small">
            Passwword Missmatched
            </div>
        </div>
        </div>
  
      <!-- Submit Button -->
      <button type="submit" class="btn btn-primary w-100">Submit</button>
    </form>
  </div>

  <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
  />